<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <div id="container">
        <header><%- include('partials/navbar.ejs') %>
        </header>
        
        <div class="content-wrapper">
            <main>

                <div class="article-head">
                    <h4>Head do artigo FILMES</h4>
                </div>
                <div id="filmes" class="artig-body">
                    <div class="card-container" id="body-artigo">
                        <!-- Adicionar o EJS de iteração-->
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/mars.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <!-- Repetir para os demais cartões -->
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/mars.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/mars.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/mars.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <!-- FIM Adicionar o EJS de iteração-->
                      </div>
                </div>

                <div class="article-head">
                    <h4>Head do artigo Series</h4>
                </div>
                <div id="filmes" class="artig-body">
                    <div class="card-container" id="body-artigo">
                        <!-- Adicionar o EJS de iteração-->
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/hanibal.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <!-- Repetir para os demais cartões -->
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/hanibal.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/hanibal.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <a href="#"  onclick="abrirVideo()">
                                    <img class="img-thumbnail" src="/media/hanibal.jpg">
                                </a>
                                <div class="orange-field">Titulo Orange</div>
                            </div>
                            <h2 class="card-title">Titulo filme</h2>
                        </div>
                        <!-- FIM Adicionar o EJS de iteração-->
                      </div>
                </div>
            </main>
            <aside>Aside
                <div class="aside-main">
                    
                <ul>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                </ul>
                </div>
            </aside>
        </div>
        
        <footer>Footer
            <script src="script/script.js"></script>
        </footer>
    </div>
</body>
</html>
