<!-- views/filmsindex.ejs -->
<%- include('partials/head.ejs') %>
<!-- Div Container -->
        
<div class="content-wrapper">
    <main>
        Main
        <div class="article-main">
            <div class="article-head">
                <h2>Adm Ferramantas</h2>
            </div>
            <div class="article-body">
                <div class="article-body form-addserie">
                </div>
            </div>
        </div>
    </main>
    <aside>Aside
        <div class="aside-main">
            <ul>
                <li><a href="#addFilmesCartoons">Add Filmes Cartoons</a></li>
                <li><a href="#addFilmesAnime">Add Filmes Anime</a></li>
            </ul>
            <ul>
                <li><a href="#addSerieCartoons">ADD Cartoons Series</a></li>
                <li><a href="#addEpCartoons">ADD novos Episódios Cartoons</a></li>
            </ul>
            <ul>
                <li><a href="#addSerieAnime">ADD Anime Series</a></li>
                <li><a href="#addEpAnimes">ADD novos Episódios Animes</a></li>
            </ul>
            <ul>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
                <li><a href="#">Link Home</a></li>
            </ul>
        </div>
        
    </aside>
</div>

<footer>Footer
    <script src="script/script.js"></script>
</footer>
</div>
<script>

/////
function resetForm() {
    document.getElementById("serieForm").reset();
}
</script>
</body>
</html>
