<aside>Aside
    <div class="aside-main">
        
    <ul>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
        <li>Link Home</li>
    </ul>
    </div>
</aside>
</div>

<footer>Footer
<script src="script/script.js"></script>
</footer>
</div>
</body>
</html>
