<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/list-ep.css">
</head>
<body>
    <div id="container">
        <header><%- include('navbar.ejs') %>
        </header>