<nav>
    <div class="navbar">
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/home">Início</a></li>
            <li><a href="/cartoon">Cartoons</a></li>
            <li><a href="/anime">Animes</a></li>
            <li><a href="/filmes">Filmes</a></li>
        </ul>
        <div class="search-box">
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Pesquisar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
